/*  */

section {
  width: 80%;
  height: 800px;
  background-image: url(https://images.unsplash.com/photo-1512152751702-ac8edb10d63b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  /* image will cover the background, not repeat. */
  background-size: cover;
  /* It shows the right side of the background. */
  background-position: right;
  margin: 0 auto;
}

h1 {
  font-size: 100px;
  color: white;
  text-align: center;
}

/* https://unsplash.com/ -> free backgrounds to use. */
